<div class="row thumbnails">
  <div class="col-md-3">
    <img src="{{ thumbnail1Water }}" alt="ASMR Requests Thumbnail" width="160" height="125" />
  </div>
  <div class="col-md-3">
    <img src="{{ thumbnail3PT }}" alt="ASMR Requests Thumbnail" width="160" height="125" />
  </div>
  <div class="col-md-3">
    <img src="{{ thumbnail4Departure }}" alt="ASMR Requests Thumbnail" width="160" height="125" />
  </div>
  <div class="col-md-3">
    <img src="{{ thumbnail5CranialNerve }}" alt="ASMR Requests Thumbnail" width="160" height="125" />
  </div>
</div>

