<!-- this is root component for the layout of the app. 
It will have a header across the top, a lefthand menu, an info box on the right side 
and an info box on the bottom -->

<!-- This initial row contains the header component with the logo -->
<div class="row" id="mainHeader">
  <div class="col-md-12">
    <app-header></app-header>
  </div>
</div>

<div class="row">
  <!-- This first column contains in it three columns, the middle of which will contain 
  navigation options -->
  <div class="col-md-1" id="mainLeftBar">
    <div class="col-md-1"></div>
    <div class="col-md-10" id="mainLeftLinks">
      <app-left-links></app-left-links>
    </div>
    <div class="col-md-1"></div>
  </div>

  <!-- This column is the main window where videos are viewed -->
  <div class="col-md-8" id="mainWindow">
    <!-- This is where our router output will go -->
    <router-outlet></router-outlet>
  </div>

  <!-- This column in the right most column on the screen and will contain videos related to the
  video currently playing -->
  <div class="col-md-2">
    <div class="col-md-1"></div>
    <div class="col-md-10" id="rightInfoBox">
      <app-right-info-box></app-right-info-box>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!-- This row will be a small footer with, likely, contact information -->
<div class="row">
  <div class="col-md-12" id="mainFooter">
  </div>
</div>