<p>
  <b>
    <i>A</i>
  </b>utonomous
  <b>
    <i>S</i>
  </b>ensory
  <b>
    <i>M</i>
  </b>eridian
  <b>
    <i>R</i>
  </b>esponse is the “tingling” sensation that
  <i>some</i> people experience, usually in response to soft sounds or gentle touching. </p>
<p>People who experience ASMR often first notice the sensation during an exam from a doctor. Videos that try to stimulate the
  viewer’s ASMR have become popular on youtube. Many of these videos are in the form of role-plays; many such role-plays
  simulate the doctor’s exam. </p>
<p>Content creators on youtube who specialize in making videos to stimulate ASMR are known as “ASMR artists.” This site, Spa:
  ASMR, highlights the top videos from youtube’s very best ASMR Artists. </p>
<p>Read more about ASMR on
  <a href="https://en.wikipedia.org/wiki/Autonomous_sensory_meridian_response" target="_blank">Wikipedia</a>.
</p>