/* importing twitter bootstrap from Node Modules */
@import "~bootstrap/dist/css/bootstrap.min.css";

body { background: black !important; }

/* The next few ids provide basic formatting for the layout of the main page */
#mainHeader {
    background-color: black;
    height: auto; 
    padding-top: 10px;
}

#mainLeftBar {
    background-color: black;
    height: 100%;
    width: 250px;
    padding-top: 100px; 
}

#mainWindow {
    background-color: rgba(50, 95, 135, 0.741);
    width: 600px;
    padding-top: 75px;
    align-items: center;
    text-align: center; 
    color: white;
    padding-bottom: 200px; 
}

#mainFooter {
    background: linear-gradient(black, gray); 
    height: 100px;   
}

#mainLeftLinks {
    background-color: lightblue;
    padding: 10px;
}

#rightInfoBox {
    background-color: blue; 
    margin-top: 200px;
    padding-top: 10px; 
    color: white; 
    text-align: center;
}