/* importing twitter bootstrap from Node Modules */
@import "~bootstrap/dist/css/bootstrap.min.css";

body { background: black !important; }

/* The next few ids provide basic formatting for the layout of the main page */
#mainHeader {
    background-color: black;
    height: auto; 
    padding-top: 10px;
}

#mainLeftBar {
    background-color: black;
    height: 100%;
    width: 300px;
    padding-top: 100px; 
}

#mainWindow {
    background: linear-gradient(rgb(15, 127, 160), black);
    width: 750px;
    padding-top: 75px;
    align-items: center;
    text-align: center; 
    color: white;
    padding-bottom: 75px; 
}

#mainFooter {
    background: linear-gradient(black, gray); 
    height: 100px;   
}

#mainLeftLinks {
    background-color: lightblue;
    padding: 10px;
}

#rightInfoBox {
    background-color: blue; 
    /* margin-top: 200px;
    padding-top: 10px;  */
    color: white; 
    text-align: center;
}

.thumbnails {
    padding-top: 40px;
}